{{/* <section id="details" class="section light">
    <h1 class="section__heading">Details</h1>
    <p>{{ .Params.details.message }}</p>
</section> */}}

{{ define "main" -}}
{{ partial "shared/navigation.html" . }}

{{/* <section class="section light standalone">
    <h1 class="section__heading">{{.Page.Title}}</h1>
{{ .Page.Content }}
</section> */}}
<main>

    <section class="section light standalone">
        <h1 class="section__heading">RSVP</h1>
        <p class="section__paragraph">
            We are excited to see you at our celebration! Please <a href="https://forms.gle/oXSzwmuGWyvZGi516">RSVP</a>
            as soon as possible. If your plans change, please update your RSVP (or text us).
            <br>
            <br>
            <b>If you have any specific allergies or dietary restrictions, please let us know in the RSVP form.</b>
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Dress Code</h1>
        <p class="section__paragraph">Garden Casual: For the Welcome Picnic on Saturday, we recommend wearing outdoor
            picnic clothes - think shorts, jeans, skirts, and dresses.</p>
        <br>
        <p class="section__paragraph">Garden Formal: For the reception on Sunday, we look forward to a mix of Indian and western formal outfits - think bright or pastel colors or florals. White is also welcome, but <b>we recommend avoiding red. </b> Keep in mind that the venue is an outdoor garden.
        </p>
    </section>


    <section class="section light standalone">
        <h1 class="section__heading">Accomodation</h1>
        <p class="section__paragraph">
            Here's a broad description of Indy's areas:
            <br>
            <br>
            <br>
            <b>Downtown Indy </b>is where the city center is and also where we live. The most happening part of
            downtown is Mass Ave where you can find several restaurants and craft cocktail bars as well as a lot of
            hotels and airbnbs. We have a room block at <a
                href="https://bookings.travelclick.com/112191?groupID=4196774">Bottleworks Hotel</a> for June 23rd under
            the
            name "Acharya-Chanana".
            <br>
            <br>
            <br>
            <b>Broad Ripple </b>has a free-spirited vibe, with laid-back cafes, global eateries, lively brewpubs and
            happening clubs. The popular Monon Trail runs through this area.
            <br>
            <br>
            <b>Fountain Square </b> is a quirky neighborhood with several galleries, a vintage duckpin bowling alley,
            laid-back eateries, offbeat nightlife including music cafes and burlesque clubs. This is also near where a
            lot of HGTV shows are filmed.
            <br>
            <br>
            <b>Brownsburg, Whitestown, and Avon </b>are the suburbs of Indianapolis close to where the reception
            dinner is. If you're over 40, we recommend staying here.
            <br>
            <br>
            <b>Carmel and Zionsville </b> are rich suburbs of Indy that are far from the venue. They have some cute
            stuff.
            <br>
            <br>
            Please text us if you have any specific questions about where to stay.
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Transportation</h1>
        <p class="section__paragraph">
            We like to say everything in and around Indianapolis is ~20 mins away from each other so please rent a car.
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Food and Drinks</h1>
        <p class="section__paragraph">
            Here are some of our favorites:
            <br>
            <br>
            <b>Bodhi </b> - Thai restaurant on Mass Ave. In-person waitlist only but, the food is authentic and the vibe
            is instagram-worthy.
            <br>
            <b>Diavola </b> - Neapolitan style pizza place. Deepa's favorite is the Mais Burrata while Shaurya's is the
            Truffle Funghi.
            <br>
            <b>Bosphorus </b> - Turkish restaurant near Fountain Square. We recommend getting The Bosphorus Special.
            <br>
            <b>Amberson Coffee & Grocer </b> - Best coffee in Indianapolis; think Portland hipster vibes. We highly
            recommend their Eggy sandwich.
            <br>
            <b>Leviathan Bakehouse </b> - Coffee shop and bakery with good looking (and tasting) viennoiserie. They also
            have good sandwiches.
            <br>
            <b>Ball & Biscuit </b> - Craft cocktail bar on Mass Ave. Deepa spent many of her days here before (old man)
            Shaurya moved to Indy and then we stopped going there because it's loud.
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Things to do in Indy</h1>
        <p class="section__paragraph">
            <b>Indianapolis Museum of Art </b> - The Indianapolis Museum of Art is an encyclopedic art museum located at
            Newfields, a 152-acre campus that includes art galleries, lush gardens, performance spaces, a nature
            preserve, and sculpture park. (We really enjoyed this place)
            <br>
            <br>
            <b>Indianapolis Zoo </b> - The Indianapolis Zoo is a 64-acre zoo located in White River State Park, in
            Indianapolis, Indiana, United States. The Indianapolis Zoo is home to more than 1,200 animals of
            approximately 230 species and subspecies, including 16 endangered species, and three species that are
            extinct in the wild. (We've never been so don't quote us on this)
            <br>
            <br>
            <b>Indianapolis Motor Speedway </b> - The Indianapolis Motor Speedway is an automobile racing circuit
            located
            in Speedway, Indiana, in the United States. It is the home of the Indianapolis 500 and the Brickyard 400,
            and formerly the home of the United States Grand Prix. It is located on the corner of 16th Street and
            Georgetown Road, approximately six miles west of Downtown Indianapolis. (same disclaimer as above)
            <br>
            <br>
            <b>Indianapolis Cultural Trail </b> - The Indianapolis Cultural Trail is an 8-mile urban pedestrian and bike
            path in downtown Indianapolis, Indiana, United States. The trail connects neighborhoods, Cultural Districts
            and entertainment amenities, and serves as the downtown hub for central Indiana's vast greenway system.
            <br>
            <br>
            <b>Monon Trail </b> - The Monon Trail is a rail trail located entirely within the state of Indiana. The
            Monon Railroad was a popular railroad line connecting the cities of Chicago and Indianapolis, with stops at
            major settlements along its route. After the decline of railroad travel and the sale of the company, the
            section of the former railroad between Indianapolis and Delphi, Indiana, was donated to the state of
            Indiana for use as a trail. The trail is named for the Monon Railroad, which previously owned the corridor.
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Gifts?</h1>
        <p class="section__paragraph">
            The most important thing to us is that you are able to celebrate with us. However, if you must, we will
            accept a visa gift card.
        </p>
    </section>
</main>
{{ partial "shared/footer.html" . }}
{{- end }}
