{{/* <section id="details" class="section light">
    <h1 class="section__heading">Details</h1>
    <p>{{ .Params.details.message }}</p>
</section> */}}

{{ define "main" -}}
{{ partial "shared/navigation.html" . }}

{{/* <section class="section light standalone">
    <h1 class="section__heading">{{.Page.Title}}</h1>
{{ .Page.Content }}
</section> */}}
<main>

    <section class="section light standalone">
        <h1 class="section__heading">RSVP</h1>
        <p class="section__paragraph">We are excited to see you at our celebration! We are looking to get a <a
                href="https://forms.gle/oXSzwmuGWyvZGi516">soft RSVP</a> as soon as possible to help us make sure we
            have a tentative headcount. If your plans change, you can always update your RSVP later.<br>
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">Address</h1>
        <p class="section__paragraph">6259 E County Rd 91 N <br>
            Avon, IN <br>
            46123 <br>
        </p>
    </section>

    <section class="section light standalone">
        <h1 class="section__heading">More details to come!</h1>
    </section>
    {{/* <section class="section light standalone">
    <h1 class="section__heading">Accomodation</h1>
    <p class="section__paragraph">We recommend staying in one of the following areas:
        Brownsburg (10-15 min drive)
        Whitestown (10-15 min drive)
        Avon (10-15 min drive)
        Indianapolis Downtown (20-30 min drive)
    </p>
</section> 

<section class="section light standalone">
    <h1 class="section__heading">Transportation</h1>
    <p class="section__paragraph">**Rent a car** from the airport. We like to say everything in and around Indianapolis is ~20 mins away from each other. The venue is a 20-30 min drive from Indianapolis Downtown. If you chose to stay somewhere in Brownsburg, Whitestown or Avon, it will be a 10-15 min drive.</p>
</section>

<section class="section light standalone">
    <h1 class="section__heading">Gifts</h1>
    <p class="section__paragraph">The most important thing to us is that you are able to celebrate with us on our special day. However, if you wish to give a gift, we will gratefully accept a visa gift card. We'll keep you posted on how to do this.</p>
</section>  */}}
</main>
{{ partial "shared/footer.html" . }}
{{- end }}
