<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEWZSTC5T4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EEWZSTC5T4');
    </script>
    <title> {{ .Site.Title }} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="{{ .Site.BaseURL }}/image/coneflower.ico">
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet" />
</head>

<body id="top">
    {{ block "main" . -}}{{- end }}
    <script src="{{ .Site.BaseURL }}/js/script.js"></script>
</body>

</html>
